

<% if(add){ %>
 <% user ={"fName": "" , "lName": "", "Created_date": "", "SessionTimeOut" : "", "Permissions": []} %>
<%} %>

<%function nonChecked(kind){ %>
  <% let ans = true %>
  <% options = ["Create", "Delete", "Update"] %>
    <%options.forEach(x =>  {%>
      <% if(user.Permissions.includes( x +" "+kind)){ans = false}%>
    <% })%>
    <% return ans%>
    <%}%>


<div class="addUser">
    <label for="fName">First Name: </label>
    <input type="text" name="fName" value= <%= user.fName %> >
    <label for="lName">Last Name: </label>
    <input type="text" name="lName" value= <%= user.lName %> >
    <label for="userName">User Name: </label>
    <input required type="text" name="userName" value= <%= user.UserName %>  >
    <label for="sess">Session time out (Minutes): </label>
    <input required type="text" name="sess" value= <%= user.SessionTimeOut %>><br><br>
  </div>
  <div class="addUser">
    <label for="Permissions">Permissions: </label><br><br>
    <% let fullPer = ["View Subscriptions", "Create Subscriptions", "Delete Subscriptions", "Update Subscriptions", "View Movies", "Create Movies", "Delete Movies", "Update Movies"] %>
    <% let check = "" %>
    <% let style = "z-index : 2;" %>
    <% fullPer.forEach(x => { %>      
      <% check = "" %> 
      <% style = "z-index : 2;"  %>
      <% if(user.Permissions.includes(x)) {%>
        <%check="checked"%>
          <%if(x == "View Subscriptions" && nonChecked("Subscriptions") || x == "View Movies" && nonChecked("Movies")){%>
            <%console.log(x)%>
            <%style= "z-index : 0;" %>
          <%} %>
      <%}%>
      <%if(x.includes("View")){ %>
        <% let gbid = x.replace(" ","")%>
        <div class=bg id="<%= gbid %>bg" style= "<%= style %>" ></div>
      <%}%>
      
      <input type="checkbox"   name="Permissions" id= "<%= x %>" value= "<%=  x %>" <%= check %> onclick= 'checkF("<%=  x %>")'>
      <label for=<%= x %>><%= x %></label><br>
      
    <% }) %>
    <br>

  

  </div>

