<!DOCTYPE html>
<html>
  <head>
    
    <%- include('../tamplates/head.html') %>
  </head>
  <body>
    <%- include('../tamplates/header.ejs') %>

    
    <form action="/subs/update/<%= member._id %>" method="post" class="addUser">
      <label for="Name">Name: </label>
      <input type="text" name="Name" value= '<%= member.Name %>' >
      <label for="Email">Email: </label>
      <input type="text" name="Email" value= '<%= member.Email %>' >
      <label for="City">City: </label>
      <input type="text" name="City" value= '<%= member.City %>' >
      
      <input type="submit"  value="save">

      <form action="/subs" method="get">
        <input type="submit" value="cancel" >
      </form> 

    </form>
    
    
   

    <%- include('../tamplates/footer.html') %>
  </body>
</html>
