

<% if(add){ %>
 <% movie ={"Name": "" , "Premired": "", "Genres": [], "Image": " "} %>
<%} %>


<div >
  <div  >
    <label for="Name">Name: </label>
    <input type="text" name="Name" value= '<%= movie.Name %>' ><br>
    <label for="Premiered">Premiered: </label><br>
    <input style="width:94%;" type="date" name="Premiered" id="Premieed" value="<%= movie.Premiered %>">
    <label for="Image">Image URL: </label>
    <input type="text" name="Image" value= '<%= movie.Image %>' >
  </div><br><br>


    <div style="overflow: auto; width: 200px ;height: 250px;">
      <% let genres = ['Drama',     'Science-Fiction','Thriller',  'Action','Crime',     'Horror','Romance',   'Adventure',
      'Espionage', 'Music','Mystery',   'Supernatural','Fantasy',   'Family','Anime',     'Comedy','History',   'Medical',  'Legal',     'Western','War',       'Sports' ] %>
     <% genres.sort() %>
     <% let check = "" %>
     <% genres.forEach(x => { %>
       <% check = "" %> 
       <% if(movie.Genres.includes(x)){check="checked"} %>
       <div >
        <input  type="checkbox" name="Genres" id= "<%= x %>" value= "<%=  x %>" <%= check %> onclick= 'checkF("<%=  x %>")'>
        <label for=<%= x %>><%= x %></label><br>
       </div>

       <% }) %>
    </div><br>


</div>


