<!DOCTYPE html>
<html>
  <head>
    <script>
      include('../tamplates/checkBox.js') 
   </script>
        <%- include('../tamplates/head.html') %>
        <%- include('../tamplates/checkBox.html') %>
  </head>
  <body>
    <%- include('../tamplates/header.ejs') %>
    <h1>User Management</h1>
    <h3>Edit User</h3>
    <div>
      <form action="/userMng/update/<%= id %>" method="post" class="addUser">
        <%- include('../tamplates/userData.ejs' , {user, add: false}) %>
        <input type="submit" name="action" value="save"> 
        <input type="submit" name="action" value="cancel" >
      </form>
    </div>
    
    <%- include('../tamplates/footer.html') %>
  </body>
</html>
