<!DOCTYPE html>
<html>
  <head>
    
    <%- include('../tamplates/head.html') %>
  </head>
  <body>
    <%- include('../tamplates/header.ejs') %>
    <h1>Subscriptins</h1>
    <h3>Edit Member</h3>
    
    <form action="/movies/updateMovie/<%= movie._id %>" method="post" class="addMovie">

      <%- include('../tamplates/movieData.ejs', {movie, add: false}) %>
      
      <input type="submit"  value="save">

      <form action="/movies" method="get">
        <input type="submit" value="cancel" >
      </form> 

    </form>
    
    
   

    <%- include('../tamplates/footer.html') %>
  </body>
</html>
